body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(157, 228, 220);
}

html, body, .container {
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 25rem;
  height: 35rem;
  flex-direction: column;
  display: inline-flex;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .2);
}

.screen {
  width: 100%;
  height: 25%;
  z-index: 2;
  box-shadow: 0 .2rem 4px -2px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 .2rem 4px -2px rgba(0, 0, 0, .2);
  -webkit-tap-highlight-color: transparent;
}

.buttons {
  width: 100%;
  height: 75%;
}

.row, .operatorColumn {
  display: inline-flex;
}

.row {
  width: 75%;
  height: 25%;
}

.operatorColumn {
  flex-direction: column;
  float: right;
  width: 25%;
  height: 100%;
}

.calculatorNumber, .calculatorOperator {
  font-size: 1.3em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.calculatorNumber {
  width: calc(100% / 3);
  height: 100%;
  background-color: lightgray;
}

.calculatorOperator {
  width: 100%;
  height: 20%;
  background-color: #ffc14e;
}

.btn {
  transition-duration: .4s;
}

.btn:hover {
  filter: brightness(92%);
}

input[type=text]:focus {
  outline-width: 0;
}



#calculatorInput, #calculatorOutput, #calculatorInputField, #calculatorOutputField {
  width: 100%;
}

#calculatorInputField, #calculatorOutputField {
  font-weight: bold;
  box-sizing: border-box;
  border: none;
  caret-color: transparent;
  height: 100%;
  padding: 0 5%;
  background-color: rgba(255, 255, 255, 0.65);
}

#calculatorInput {
  height: 45%;
}

#calculatorOutput {
  height: 55%;
}

#calculatorInputField {
  font-size: 20px;
}

#calculatorOutputField {
  font-size: 35px;
}